body{
    background-color: rgb(71, 31, 31);
    color: aliceblue;
}

h1{
    text-align: center;
}

#gameList{
    /*css grid */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
}

.gameCard{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    background-color: rgb(27, 24, 53);
    align-items: center;
    margin: 1rem;
}